<div *ngFor="let person of listPerson">
    <div>
      <strong>ID:</strong> {{ person.id }}<br>
      <strong>Age:</strong> {{ person.age }}<br>
      <strong>Date de naissance:</strong> {{ person.dob }}<br>
      <strong>Email:</strong> {{ person.email }}<br>
      <strong>Salaire:</strong> {{ person.salary }}<br>
      <strong>Adresse:</strong> {{ person.address }}<br>
      <strong>Image URL:</strong> {{ person.imageUrl }}<br>
      <strong>Nom:</strong> {{ person.lastName }}<br>
      <strong>Prénom:</strong> {{ person.firstName }}<br>
      <strong>Numéro de contact:</strong> {{ person.contactNumber }}<br>
    </div>
    <hr>
  </div>