<mat-paginator [length]="dataSource.data.length" [pageSize]="10"  (page)="onPageChange($event)"></mat-paginator>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Age</th>
        <th>Date de naissance</th>
        <th>Email</th>
        <th>Salaire</th>
        <th>Adresse</th>
        <th>Image URL</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Numéro de contact</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of listPerson | paginate: { itemsPerPage: 10, currentPage: page, id: 'server' }">
        <td>{{ person.id }}</td>
        <td>{{ person.age }}</td>
        <td>{{ person.dob }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.salary }}</td>
        <td>{{ person.address }}</td>
        <td>{{ person.imageUrl }}</td>
        <td>{{ person.lastName }}</td>
        <td>{{ person.firstName }}</td>
        <td>{{ person.contactNumber }}</td>
      </tr>
    </tbody>
  </table>

  
  
  